*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  user-select: none;
}

:root {
  --main-black: #121413;
  --white: #fefefe;
  --main-blueviolet: #926bd9;
  --light-blueviolet: #ad9be1;
  --main-skyblue: #88c8d8;
  --main-gradient: linear-gradient(
    to right,
    var(--main-blueviolet),
    rgba(60, 157, 255, 0.441) 57.5%,
    var(--main-blueviolet) 100%
  );
  --default-view-1-title-transform: translate(0, -100%);
  --default-view-2-title-transform: translate(0, 100%);
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}

.main-black {
  background-color: var(--main-black);
}
.main-white {
  background-color: var(--main-white);
}
.main-gradient {
  background: var(--main-gradient);
}
