html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --main-black: #121413;
  --white: #fefefe;
  --main-blueviolet: #926bd9;
  --light-blueviolet: #ad9be1;
  --main-skyblue: #88c8d8;
  --dark-cyan: #7be3d2;
  --main-gradient: linear-gradient(
    to right,
    var(--main-blueviolet),
    rgba(60, 157, 255, 0.441) 57.5%,
    var(--main-blueviolet) 100%
  );
  --default-view-1-title-transform: translate(0, -100%);
  --default-view-2-title-transform: translate(0, 100%);
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  touch-action: none;
}

#counter-container {
  width: 100px;
  height: 100px;
  position: fixed;
  font-size: 3rem;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

#counter-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-black {
  background-color: var(--main-black);
}
.main-white {
  background-color: var(--main-white);
}
.main-gradient {
  background: var(--main-gradient);
}

.animate-up {
  animation: increaseCounterAnimation 1.5s;
}
.animate-down {
  animation: reduceCounterAnimation 1.5s;
}

@keyframes reduceCounterAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes increaseCounterAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
