.view-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.second-section-container {
  height: clamp(20rem, 60%, 40rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-2-title-container,
.skill-box-container {
  width: 100%;
  height: 25vh;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.section-2-letters-container,
.skills-list {
  margin-left: 4rem;
}

.section-2-letters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box-container {
  justify-content: flex-start;
  height: fit-content;
}

.second-section-title-letter {
  transition: transform 0.5s ease;
  font-size: clamp(35px, 5vw, 3rem);
  transform: translate(0, 100%);
}

.letter-space {
  padding: 0 1px;
}

.skills-list {
  width: clamp(23em, 70%, 50rem);
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.skills-list > section {
  width: fit-content;
  margin: 0 10px;
}

.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.skills-list li:before {
  content: "\2022";
  color: var(--dark-cyan);
  font-size: 2em;
  display: inline-block;
  margin: 0 20px 0 0;
}

.second-title-word-container {
  display: inline-flex;
  margin: 7.5px;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .section-2-title-container {
    min-height: 5rem;
    justify-content: center;
  }

  .section-2-letters-container {
    margin: 0;
  }

  .skills-list {
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .second-section-container {
    height: clamp(25rem, 70%, 45rem);
  }

  .skill-box-container {
    height: 25rem;
  }

  .skills-list {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .skills-list li {
    margin-bottom: 1.5rem;
    font-size: 14.5px;
  }
}

@media (max-width: 452px) {
  .view-2 {
    justify-content: flex-start;
  }

  .second-section-container {
    height: clamp(35rem, 95%, 45rem);
    margin-top: 5vw;
  }

  .second-section-title-letter {
    font-size: 40px;
  }

  .skill-box-container {
    margin-top: 30px;
    height: fit-content;
  }

  .skills-list {
    flex-direction: column;
  }

  .skills-list li {
    font-size: 14px;
  }
}

@media (max-width: 290px) {
  .second-section-title-letter {
    font-size: 30px;
  }
}
